[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

[mysqld]
server_id=1

user=mysql

init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-storage-engine=INNODB

max_connections=100  
max_connect_errors=10
wait_timeout=28800
interactive_timeout=28800

innodb_thread_concurrency=4
innodb_stats_on_metadata=0

general-log=1

slow-query-log=1
long_query_time=1
